.boton-regresar {
    font-size: 35px;
    color: #093246;
}

.btn-return .boton-volver {
    width: 50%;
    font-weight: 500;
    background-color: #F3EDE1;
    border: 1px solid #198683;
    color: #198683;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.news-item .btn:hover,
.news-item .btn:focus {
    background-color: #146c6a;
    color: #F3EDE1;
}

/*register-dialog = breaking-news
              register-content = news-item*/

.breaking-news .news-item {
    padding: 40px 24.5px 45px 24.5px;
}

.news-item h1 {
    font-size: 32px;
}

.news-item p {
    font-size: 18px;
}

.news-item label {
    font-size: 18px;
    color: #093246;
}

.news-item .form-control {
    min-width: 240px;
    min-height: 55px;
    width: 100%;
}

.news-item .btn-secondary {
    font-size: 20px;
    min-height: 55px;
    min-width: 240px;
    width: 100%;
    border-radius: 16px;
    font-weight: 700;
}

.news-item .register-link a {
    color: #198683;
    font-weight: 700;
    text-decoration: none;
}

.border-secondary-category {
    border: 3px solid #68BDB8 !important;
}

.border-secondary-contenido {
    padding-top: 27px;
    border: 3px solid #68BDB8 !important
}

.news-item .btn-return {
    border-radius: 16px;
    font-size: 22px;
    min-height: 60px;
    min-width: 20px;
    line-height: 2;
}

.news-item .btn-secondary {
    font-size: 20px;
    min-height: 55px;
    min-width: 240px;
    width: 100%;
    border-radius: 16px;
    font-weight: 700;
}

.news-item .form-select {
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #6c757d;
}

/* de aqui para abajo solo agregar clases en los @media */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .breaking-news .news-item {
        padding: 38px 63px 40px 63px;
    }


    .news-item h1 {
        font-size: 36px;
    }

    .news-item p {
        font-size: 24px;
    }

    .news-item label {
        font-size: 24px;
        color: #093246;
    }

    .news-item .form-control {
        min-width: 240px;
        min-height: 60px;
        width: 100%;
    }

    .news-item .btn-secondary {
        font-size: 26px;
        min-height: 60px;
        min-width: 391px;
        width: 100%;
        border-radius: 16px;
        font-weight: 700;
    }


    .news-item .register-link a {
        color: #198683;
        font-weight: 700;
        text-decoration: none;
    }

    

}


/* Desde 993px en adelante: vuelve al centrado y tamaño normal */
@media (min-width: 992px) {
    .boton-regresar {
        display: none;
        min-height: 60px;
    }

    form .d-flex {
        justify-content: center;
    }

    .news-item .btn-secondary {
        font-size: 20px;
        min-height: 55px;
        min-width: 240px;
        width: 100%;
        border-radius: 16px;
        font-weight: 700;
    }

    .news-item h1 {
        font-size: 40;
    }

    .news-item label {
        font-size: 26;
    }

}