/* Altura de Navbar */
.navbar-expand-lg{min-height: 100px;}

/* NAVBAR LOGO*/
.navbar-logo {width: 55px; height: 55px; object-fit: contain;}
.navbar-logo:hover {transition: 2.2s ease-out; transform: rotateY(360deg);}
.navbar-brand { font-size: 20px; font-weight: 450;}
.navbar-brand:hover { color: #38b8b4; transition: 0.2s ease-out; }
.navbar-logo-brand { display: flex; align-items: center; gap: 18px;}

/* NAVBAR */
.navbar{--bs-navbar-padding-y: 0.3rem;}
.bg-body-tertiary { background-color: #093246 !important; color: #F3EDE1; }
.nav-item:hover .nav-link {  color: #38b8b4; transition: 0.2s ease-out; }
.navbar-menu-icon svg  { width: 30px; height: 30px; }
.navbar-user-icon svg { background-color: #F3EDE1; border-radius: 50%; width: 30px; height: 30px; }
.navbar-brand, .nav-link { color: #F3EDE1; }
.navbar-nav .nav-link.active, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show { font-weight: 600; color: #68BDB8; }

/* BOTONES */
.btn { width: 100%; margin: .5rem 0; font-weight: 500; }
.btn.btn-primary { background-color: #093246; border-color: #093246; color: #F3EDE1; }
.btn.btn-secondary { background-color: #198683; border-color: #198683; color: #F3EDE1; }

@media (min-width: 576px) { 
        .navbar .container-fluid { 
         /* O el valor que prefieras para mantener la altura en 56px */
    }
}
/*Resolucion tablet*/
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .navbar .container-fluid { }

}
/*Resolucion desktop*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-collapse { justify-content: end; }
    .navbar .container-fluid {  }
    /*  padding: */
    .dropdown-menu[data-bs-popper] { left: -90px; }
}
/*Resolucion desktop*/
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
/*Resolucion desktop*/
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }