/*Contenedor Principal*/
#container-about-us {
    margin-top: 50px;
    padding: 10px;
}

/*Introducción Sobre Nosotros*/
.about-us-intro {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
/*Título Sobre Nosotros*/
.item-1.sobre-nosotros {
    grid-row: 1;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-self: center;
    font-weight: 750;
    font-size: 35px;
}
/*Texto Introducción*/
.about-main-text {
    grid-row: 2;
    display: grid;
    text-align: center;
    align-self: center;
    font-weight: 500;
}

/*Contenedor Quiénes Somos*/
.about-intro-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
/*título y logo*/
.quienes-somos{ /*título quiénes somos*/
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: 650;
}

.about-logo{
    width: 115px;
    height: 115px;
    grid-column: 2;
    display: flex;
    justify-content: center;
}
/*Párrafo quiénes somos*/
.parrafo-about {
    font-weight: 500;
    margin: auto;
    text-align: center;
}
.about-title {
    font-weight: 650;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
/*Resolución Mobile*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .about-logo {
        width: 130px;
        height: 130px;
        
    }
}

/*Resolución Tablet*/
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .about-logo {
        width: 150px;
        height: 150px;
    }

}
/*Resolución Desktop*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }
/*Resolucion desktop*/
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
/*Resolucion desktop*/
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }