#container-about-us {
    margin-top: 50px;
    padding: 10px;
}

/* Título Sobre Nosotros */
.sobre-nosotros {
    font-weight: 750;
    font-size: 45px;
    margin-top: 50px;
}

/* Párrafo introducción */
.about-main-text {
    font-weight: 500;
    text-align: center;
}
.about-intro-wrapper {
    margin-bottom: 30px;
}
/* Quiénes somos */
.quienes-somos {
    font-weight: 650;
    padding: 20px;
}

.about-logo {
    width: 150px;
    height: 150px;
}

/* Párrafos */
.parrafo-about {
    font-weight: 500;
    text-align: center;
}

/* Títulos de sección */
.about-title {
    font-weight: 650;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*Imágenes Equipo*/
.members {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    
}
.member-name {
    font-weight: 550;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
/*Resolución Mobile*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .about-logo {
        width: 170px;
        height: 170px;
    }
    .members {
    height: 220px;
    width: 220px;
    
    
    }
}


/*Resolución Tablet*/
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .about-logo {
        width: 200px;
        height: 200px;
    }
    .members {
    height: 250px;
    width: 250px;
    
    }
}
/*Resolución Desktop*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .about-logo {
        width: 230px;
        height: 230px;
    }
    .members {
    height: 230px;
    width: 230px;
    }
}

/*Resolucion desktop*/
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*Resolucion desktop*/
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}