.estructura-noticia-completa {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
margin: 0%;
padding: 24px 16px;
}

.responsive-user-text {
  color: #284D5D;
  font-size:16px ;
}

.card-title{

margin-top: -30px;
margin-bottom:32px;

}

.date-and-category {

display: flex;;
justify-content: space-between;


}
.category{
  padding: 0px 20px;
  background-color: #198683; border-color: #198683; color: #F3EDE1; border-radius: 20px; 

}



.card-feed {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 16px;
  border: 3px solid #093246;
  background-color: white;
  box-sizing: border-box;
}

#img-notice-card {
  width: 100%;
  height: auto;
  aspect-ratio: 358 / 333; /* Mantiene la proporción original */
  display: block;
  border: 3px solid #198683;
  object-fit: cover;
  box-sizing: border-box;
  padding: 0px; /* Espacio entre borde verde e interior del card */
}

.btn-group-feed .btn {
    width: auto !important;
    margin: 0 !important;
    justify-content: flex-start;
    margin-top: auto;

}

.btn-outline-danger.btn-liked,
.btn-outline-danger.btn-liked:active,
.btn-outline-danger.btn-liked.active,
.btn-outline-danger.btn-liked:focus {
  background-color: #fff !important;
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}



/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    .container-fluid { padding: 32px; }

.responsive-user-text {
  font-size:20px ;
}




}
/*Resolucion tablet*/
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h1 { font-size: 34px; }
    h2 { font-size: 30px; }
    h3 { font-size: 28px; }
    p { font-size: 20px; }
    .card { max-width: 320px; }

    .card-feed {
    width: 544px;
    margin-top: 244px;
    margin: 20px;
}

#img-notice-card {
  aspect-ratio: 464 / 333; /* Mantiene la proporción original */
  padding: 0px; /* Espacio entre borde verde e interior del card */
}

}
/*Resolucion desktop*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-collapse { justify-content: end; }
    .btn { width: 100%; max-width: 164px; height: 40px;}
    .navbar-feed .container-fluid { padding: 8px 24px; }
    .dropdown-menu[data-bs-popper] { left: -90px; }
    .estructura-noticia-completa {
    justify-content: flex;
    gap: 0px;
    }
    
    .card-feed {
    width: 650px;
    margin-top: 345px;
    margin: 44px;
}

#img-notice-card {
 
  aspect-ratio: 570 / 420;
  padding: 0px; 
 
}


}
/*Resolucion desktop*/
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
/*Resolucion desktop*/
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

.card-feed {
  margin: 16px;
}

}