.estructura-noticia-completa {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
margin: 0%;
}


.card-feed {
    width: 390px;
    box-sizing: border-box;
    margin-top: 214px;
    overflow: hidden;
    border: 3px solid #093246;
    margin : 0px;

}

#img-notice-card{
    height: 358px;
    width: 333px;
    left: 24px;
    position: relative ;
    border: 3px solid #198683;

}

.btn-group-feed .btn {
    width: auto !important;
    margin: 0 !important;
}

.btn-outline-danger.btn-liked,
.btn-outline-danger.btn-liked:active,
.btn-outline-danger.btn-liked.active,
.btn-outline-danger.btn-liked:focus {
  background-color: #fff !important;
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}



/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    .container-fluid { padding: 32px; }
}
/*Resolucion tablet*/
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h1 { font-size: 34px; }
    h2 { font-size: 30px; }
    h3 { font-size: 28px; }
    p { font-size: 20px; }
    .card { max-width: 320px; }

    .card-feed {
    width: 544px;
    margin-top: 244px;
    margin: 20px;
}
#img-notice-card{
    height: 333px;
    width: 468px;
    left: 30px;
}

}
/*Resolucion desktop*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-collapse { justify-content: end; }
    .btn { width: 100%; max-width: 164px; height: 40px;}
    .navbar-feed .container-fluid { padding: 8px 24px; }
    .dropdown-menu[data-bs-popper] { left: -90px; }
    .estructura-noticia-completa {
    justify-content: flex;
    gap: 0px;
    }
    
    .card-feed {
    width: 650px;
    margin-top: 345px;
    margin: 44px;
}


#img-notice-card{
    height: 420px;
    width: 570px;
}


}
/*Resolucion desktop*/
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
/*Resolucion desktop*/
/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }